header.header
    .wrapper
        .header__content
            .header__left
                .header__logo
                    img(src="./images/logo.png", alt="") 

            .header__right 
                .header__menu.adaptmenu
                    .header__menuitem
                        img(src="./images/dashboard/sourse.svg", alt="")
                        a(href="#") Источники
                    .header__menuitem
                        img(src="./images/dashboard/statistic.svg", alt="")
                        a(href="#") Статистика
                    .header__menuitem
                        img(src="./images/dashboard/finance.svg", alt="")
                        a(href="#") Финансы
                    .header__menuitem
                        img(src="./images/dashboard/profil.svg", alt="")
                        a(href="#") Профиль

            //- .burger
                