extends ../template

block varibles
    - var title = "Vitality"

block content
    .vitality
        .vitality__header   
            span.vitality__logo vitality

        .vitality__content

            .vitality__descblock
                span.vitality__desctext Присоединяйтесь 
                    span к сообществу
            
            .vitality__titleblock
                h1.vitality__titletext витамины 
                    br
                    span энергия жизни
                    
            
            .vitality__buttonblock
                button.vitality__button 
                    span Подписаться

        
        script.

            let orient = window.orientation;
            //- console.log("start", orient);
            //- alert(orient);

            //- if(orient !== 90 || orient !== -90 && screen.width < 769){
            //-     document.querySelector("html").style.fontSize = "16px";
            //- }







            window.addEventListener("orientationchange", function() {
                let orient = window.orientation;
                if(orient === 90 || orient === -90){
                    //- alert(orient);
                }
               
            
            }, false);

            

        


    
    