footer.footer
    .wrapper
        .footer__namelogo
            img(src="./images/footer/name.png", alt="")
        .footer__content
            .footer__left
                span.footer__copyright © 2019 Ugly.cash  —  Партнерская программа
            .footer__right
                .footer__blockitem   
                    img(src="./images/footer/webm.svg", alt="")
                .footer__blockitem   
                    img(src="./images/footer/ya.svg", alt="")
                .footer__blockitem   
                    img(src="./images/footer/mc.svg", alt="")
                .footer__blockitem   
                    img(src="./images/footer/visa.svg", alt="")
                .footer__blockitem   
                    a Публичная оферта
                    